
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
  

  .logo {
    img {
      height: 3rem;
    }
  }

  .nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;

      li {
        margin: 0 1rem;
      }
    }
  }
}

html:not([data-scroll='0']) {
  .header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  }
}